[submodule "vim/pack/rsolomakhin/start/fzf"]
	path = vim/pack/rsolomakhin/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/pack/rsolomakhin/start/fzf.vim"]
	path = vim/pack/rsolomakhin/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/pack/rsolomakhin/start/vim-dispatch"]
	path = vim/pack/rsolomakhin/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim/pack/rsolomakhin/start/vim-fugitive"]
	path = vim/pack/rsolomakhin/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
